@font-face {
  font-family: 'Cairo-Bold';
  src: url('../../assets/fonts/Cairo/Cairo-Bold.ttf');
}

$cario-b: 'Cairo-Bold';

@font-face {
  font-family: 'Pop-SemiBold';
  src: url('../../assets/fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Pop-Regular';
  src: url('../../assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Pop-Medium';
  src: url('../../assets/fonts/Poppins/Poppins-Medium.ttf');
}

$pop-semib: 'Pop-SemiBold';
$pop-regular: 'Pop-Regular';
$pop-medium: 'Pop-Medium';