@mixin formInputStyle {
  ::ng-deep .mat-form-field-outline-start {
    border-radius: 28px 0 0 28px !important;
    min-width: 28px !important;
    background-color: rgba(225, 225, 225, 0.25);
  }

  ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
    background-color: rgba(225, 225, 225, 0.25);
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 1.75em 0 1.75em;
  }

  ::ng-deep .mat-form-field.mat-focused {
    ::ng-deep .mat-form-field-outline-start {
      background-color: rgba(225, 225, 225, 0.5);
    }

    ::ng-deep .mat-form-field-outline-end {
      border-radius: 0 28px 28px 0 !important;
      background-color: rgba(225, 225, 225, 0.5);
    }
  }

  ::ng-deep .mat-form-field-infix {
    border-top: 0.5em solid transparent;
  }
}
