@import '../../styles/colors.scss';
@import '../../styles/_fonts.scss';
@import '../../styles/_mixins.scss';

.login-page-ctn {
  width: 100%;
  height: 100%;
  background-color: $tr-white-2;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-box-ctn {
    box-sizing: border-box;
    width: 500px;
    height: 640px;
    padding: 74px 90px;
    box-sizing: border-box;
    background-color: $tr-white-2;
    box-shadow: 0px 0px 20px $tr-white-3;
    border-radius: 15px;
    .brand-logo-ctn {
      margin-bottom: 35px;
    }
    .login-box-title {
      margin-bottom: 50px;
      font-size: 30px;
      font-family: $cario-b;
    }
    .login-fields-ctn {
      @include formInputStyle;

      .input-label {
        display: inline;
        float: left;
        color: $tr-grey-1;
        margin-bottom: 5px;
        font-size: 12px;
        line-height: 18px;
        font-family: $pop-regular;
      }

      #visibility-icon {
        color: $tr-grey-1;
        cursor: pointer;
      }
    }
    .login-btn-ctn {
      margin-top: 10px;
      @keyframes spinner {
        to {
          transform: rotate(360deg);
        }
      }

      .spinner:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        border-radius: 50%;
        border: 2px solid #ffffff;
        border-top-color: #000000;
        animation: spinner 0.8s linear infinite;
      }
    }
  }
}
