<div class="login-page-ctn">
  <div class="login-box-ctn">
    <div class="brand-logo-ctn centred">
      <img src="../../../assets/images/trust_logo1.png" alt="" />
    </div>
    <div class="login-box-title centred">
      <span>Login</span>
    </div>
    <div class="login-fields-ctn">
      <form class="fully" (keydown.enter)="login()">
        <label class="input-label lefty">Email</label>
        <mat-form-field class="fully" appearance="outline">
          <input [formControl]="emailFormControl" type="email" matInput />
        </mat-form-field>

        <label class="input-label lefty">Mot de passe</label>
        <mat-form-field class="fully" appearance="outline">
          <input [formControl]="passwordFormControl" [type]="showPassword ? 'text' : 'password'" matInput />
          <mat-icon
            (click)="togglePasswordVisibility()"
            id="visibility-icon"
            matSuffix
            >{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon
          >
        </mat-form-field>
      </form>
    </div>
    <div class="login-btn-ctn">
      <button
        class="tr-btn tr-primary fully"
        mat-flat-button
        type="submit"
        (click)="login()"
        [class.spinner]="isLoading"
      >
        Se connecter
      </button>
    </div>
  </div>
</div>
