@import '../../styles/colors.scss';

.page-ctn {
  background-color: $tr-white-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .not-found-text {
    color: $tr-brown-2;
    font-size: 40px;
    margin-top: 16px;
  }
}
