<div class="page-ctn fully">
  <div class="tr-logo-ctn">
    <img class="fully" src="../../../assets/images/trust_logo1.png" alt="" />
  </div>
  <h1 class="not-found-text">SORRY PAGE OR URL NOT FOUND</h1>
</div>
