@import './app/styles/colors.scss';
@import './app/styles/_fonts.scss';

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

// positioning classes

.centred {
  text-align: center;
}

.lefty {
  text-align: left;
}

.righty {
  text-align: right;
}

.fully {
  width: 100%;
  height: 100%;
}

// ****************

.tr-primary {
  background-color: $tr-brown-1;
  color: $tr-white-1;
  border-radius: 20px !important;

  &:hover {
    background-color: $tr-brown-2;
  }
}

.sb-light {
  background-color: $tr-white-1;
  color: $tr-red;
  border-radius: 15px !important;

  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1) !important;

  &:hover {
    background-color: #f3f3f3;
  }
}

.tr-btn {
  font-family: $pop-medium !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 12px !important;

  .btn-icon {
    margin-right: 10px;
  }
}

.tr-outline {
  border: 1px solid $tr-red !important;
}
